# Add files, file types, and folders to avoid version control
# SEE SPIS GitHub repo NIH-CIT-OIR-SPIS/Libraries for examples
# for specific languages/programs
# A basic google search will also bring up good .gitignore examples